<twig:block-footer
    id="contact"
    col1Title="Learn more"
    :col1Links="[
        {
            text: 'Blog',
            url: '/blog',
            icon: 'fa-solid fa-blog fa-fw'
        },
        {
            text: 'Academy',
            url: '/academy',
            icon: 'fa-solid fa-graduation-cap fa-fw'
        },
        {
            text: 'Documentation',
            url: '/docs',
            icon: 'fa-solid fa-book fa-fw'
        },
        {
            text: 'FAQ',
            url: '/faq',
            icon: 'fa-solid fa-question-circle fa-fw'
        }
    ]"

    col3Title="Contact & Collaboration"
    col3Html="If you are interested in contributing, collaborating, services or anything else, contact us."
    :col3Links="[
        {
            text: 'contact@example.com',
            url: 'mailto:contact@example.com',
            icon: 'fa-solid fa-envelope fa-fw',
        },
        {
            text: 'www.example.com',
            url: 'https://www.example.com',
            icon: 'fa-solid fa-globe fa-fw'
        }
    ]"

    col4Title="Website Name Here"
    col4Html="<p>Your address here.</p><p>From <em>location</em> to the world with <i class='fa-solid fa-heart text-danger'></i></p>"
    :col4SocialIcons="[
        {
            icon: 'fa-brands fa-github fa-2x fa-fw',
            url: 'https://github.com/derafu/website'
        }
    ]"

    leftText="Copyright &copy; 2025"
    rightText="All rights reserved"
/>
