<twig:block-header
    id="top"
    class="navbar-dark bg-dark"
    logoUrl="/"
    logoText="<span class='fw-bold text-primary'>Derafu</span> <span class='fw-normal text-white'>Website</span>"
    :leftNav="[
        {
            text: 'Home',
            url: '/',
            icon: 'fa-solid fa-house'
        }
    ]"
    :rightNav="[
        {
            text: 'Blog',
            url: '/blog',
            icon: 'fa-solid fa-blog'
        },
        {
            text: 'Academy',
            url: '/academy',
            icon: 'fa-solid fa-graduation-cap'
        },
        {
            text: 'Documentation',
            url: '/docs',
            icon: 'fa-solid fa-book'
        },
        {
            text: 'FAQ',
            url: '/faq',
            icon: 'fa-solid fa-question-circle'
        }
    ]"
    ctaIcon="fa-solid fa-envelope"
    ctaText="Contact & Collaboration"
    ctaUrl="/contact"
/>
